@media (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
  .navigation a {
    text-decoration: none;
    color: #ffffff;
  }
  .brand {
    padding: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Armata', sans-serif;
    text-align: center;
    color: #ffffff;
  }
  .menu {
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.5);
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
    align-items: center;
  }
  .nav-links .nav-anchor {
    display: block;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-family: 'Armata', sans-serif;
  }
  .home {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(shelton/images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
  }
  .home .intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-family: 'Rock Salt', sans-serif;
    color: #ffffff;
    font-size: 35px;
  }
  .welcome {
    position: relative;
    text-align: center;
  }
  .welcome .welcome-intro {
    font-family: 'Rock Salt', serif;
    font-size: 15px;
  }
  .welcome .welcome-phrase {
    position: relative;
    text-align: center;
    font-family: 'Armata', sans-serif;
    font-size: 20px;
  }
  .about-us {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(shelton/images/about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 80%;
    height: 95vh;
  }
  .about-us .about-us-intro {
    position: relative;
    text-align: center;
    font-family: 'Rock Salt', sans-serif;
    color: blue;
    font-size: 16px;
  }
  .about-us .about-us-text {
    position: relative;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    color: #000000;
  }
  .about-us .about-us-text p {
    text-indent: 50px;
  }
  .gallery .gallery-intro {
    position: relative;
    text-align: center;
    padding-top: 20px;
    font-family: 'Rock Salt', sans-serif;
    color: blue;
    font-size: 30px;
  }
  .gallery .gallery-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery .gallery-photos img {
    margin: 20px;
  }
  .gallery .gallery-photos .column {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    width: 100vw;
    background: #0e57b6;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Armata', sans-serif;
    text-align: center;
    color: #ffffff;
  }
  .footer-brand {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Armata', sans-serif;
    text-align: center;
    justify-content: center;
    color: #ffffff;
  }
  .socials {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-family: 'Armata', sans-serif;
    text-align: center;
    color: #ffffff;
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #579ae7;
    width: 100%;
  }
  .slider {
    width: 90%;
  }
  .image {
    display: block;
    width: 100px;
    height: 100px;
    background: transparent;
    margin: 0 10 px;
  }
  .image img {
    width: 100%;
    margin: 5px;
    padding: 5px;
  }
  .ham {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 5px;
    cursor: pointer;
    z-index: 11;
  }
  .bar1,
  .bar2,
  .bar3 {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    background-color: #101010;
    transition: 0.4s;
  }
  .nav-sub {
    position: absolute;
    top: 10vh;
    right: 0px;
    flex-direction: column;
    background-color: #000000;
    border-radius: 0px 0px 0px 20px;
    transition: transform 0.3s ease-in;
    transform: translate(100%);
  }
  .nav-change {
    transform: translate(0%);
    display: grid;
    place-items: center;
  }
  .ham {
    display: block;
  }
  .change .bar1 {
    transform: rotate(45deg) translate(8px, 3px);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: rotate(-45deg) translate(8px, -3px);
  }
  #myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  #myBtn:hover {
    background-color: #555;
  }
  html {
    scroll-behavior: smooth;
  }
}
@media (min-width: 960px) {
  .ham {
    display: none;
  }
  .menu {
    display: block;
    height: auto;
    width: auto;
    position: relative;
    background: none;
  }
  .navigation {
    flex-direction: row;
  }
  .navigation .brand,
  .navigation .menu {
    display: flex;
    width: 50%;
    padding: 20px;
    align-items: center;
  }
  .navigation .nav-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
  }
  .welcome-phrase {
    position: relative;
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    font-size: 30px;
  }
  .home .intro {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 60px;
  }
  .about-us .about-us-intro {
    font-size: 30px;
  }
  .about-us .about-us-text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    text-indent: 10px;
  }
  .gallery .gallery-photos {
    flex-direction: row;
    justify-content: space-around;
    align-items: normal;
  }
  .gallery .gallery-photos .column {
    width: 20%;
  }
  .gallery .gallery-photos .column img {
    width: 100%;
    max-width: 300px;
  }
  .footer {
    flex-direction: row;
    min-height: 200px;
  }
  .contact {
    width: 30%;
    padding: 20px;
  }
  .footer-brand {
    align-items: center;
    justify-content: center;
    font-size: 50px;
    width: 40%;
  }
  .socials {
    width: 30%;
    justify-content: center;
    align-items: center;
  }
}
